#TextBox10, #TextBox15, #TextBox16, #TextBox17, #TextBox24, #TextBox29, #TextBox31, #TextBox34, #TextBox40, #TextBox43, #TextBox69, #TextBox72, #TextBox74, #TextBox117, #TextBox120{
    rotate: 45deg;
}

#FramerFlex16::-webkit-scrollbar{
    height: 1px;
}

.ant-collapse-header-text{
    font-size: 22px;
    line-height: 32px;
    color: #080808;
}

.ant-collapse-content-box{
    font-size: 16px;
    line-height: 27px;
    color: #575757;
}